/* Add this to your CSS file or inside a <style> tag */

.custom-swiper {
  padding: 0 40px;
  overflow: hidden;
  margin: 0px 20px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
}

.card-image {
  /* width: 210px; */
  /* height: 150px; */
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-name {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}

.card-button {
  margin-top: 10px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.swiper-container {
  position: relative;
}

.custom-swiper-button {
  width: 40px;
  height: 40px;
  background-color: #1BC738;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.custom-swiper-button:hover {
  background-color: #1BC738;
}

.custom-swiper-button:after {
  font-size: 18px;
}

.swiper-button-next.custom-swiper-button {
  right: 20px;
  z-index: 1;
}

.swiper-button-prev.custom-swiper-button {
  left: 20px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  /* .card{
    height: auto;
    width: 290px;
  } */

  .custom-swiper {
    padding: 0 0px;
  }

  .card-image {
    width: 150px;
    height: 100px;
  }

  .card-name {
    font-size: 12px;
  }

  .card-button {
    font-size: 12px;
  }
  
}